/* css document */

body {
    margin: 25px;
    background-image: url(../Formulario.html/slide_nutricao.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background: opacyt;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    
}

.formulario {
    border-collapse: collapse; 
    background-position: center;   
}

#container {
    padding: 30px;
}


